body {
    margin: 100px;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}
.subtitle {
  font-style: italic;
  font-weight: lighter;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.tool {
  display: flex;
  flex-direction: column;
  width: 450px;
  border-right: 6px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.explanation {
  display: flex;
    width: 600px;
  flex-direction: column;
}

input:required:invalid, input:focus:invalid {
  background-color: red;
  color: white;
}
input:required:valid {
  background-color: green;
  color: white;
}
::placeholder {
    color: white;
}
input {
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.page-break {
    page-break-after: always;
    page-break-inside: avoid;
    clear:both;
}
.page-break-before {
    page-break-before: always;
    page-break-inside: avoid;
    clear:both;
}
#html-2-pdfwrapper{
    position: absolute;
    left: 20px;
    top: 50px;
    bottom: 0;
    overflow: auto;
    width: 600px;
}

